@use "@/styles/variables";

$pad-lg: 3rem;
$pad-sm: 1rem;

.article {
  // Disable container padding and add to .main for
  // preserving the space for outline
  @include variables.container(variables.$xl, 0);

  display: grid;
  grid-template-columns: 1fr 18rem;
  justify-content: center;
  column-gap: 1rem;

  @include variables.mq("xl") {
    grid-template-columns: 1fr;
  }
}

.tocWrap {
  @include variables.mq("xl") {
    display: none;
  }
}

.toc {
  position: sticky;
  top: calc(variables.$headerHeight + 1rem);
  margin-right: 1rem;
}

.main {
  overflow-x: auto;
  position: relative;
  padding-right: 1rem;
}

.header {
  display: grid;
  row-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: $pad-lg;
  padding-right: $pad-lg;
  background: var(--cmm-color-surface-1);

  @include variables.mq("xl") {
    padding-left: $pad-sm;
    padding-right: $pad-sm;
  }

  &.withTabs {
    border-bottom: none;
    padding-bottom: 2rem;
  }

  .title {
    font-weight: var(--cmm-font-weight-bold);
    font-size: var(--cmm-font-size-4xl);
    line-height: 1;

    @include variables.mq("lg") {
      font-size: var(--cmm-font-size-4xl);
    }
  }

  .description {
    color: var(--cmm-color-font-muted);
    font-weight: var(--cmm-font-weight-normal);
  }

  .author {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__name {
      font-size: var(--cmm-font-size-md);
      font-weight: var(--cmm-font-weight-medium);
    }
  }
}

.markup {
  container-type: inline-size;
  :where(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: calc(variables.$headerHeight + 0.5rem) !important;
  }
}

.aside {
  margin-top: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-top: 1px solid var(--cmm-color-border-base);
}

%panel {
  padding-top: 3rem;
  padding-left: $pad-lg;
  padding-bottom: 4rem;

  @include variables.mq("xl") {
    padding-left: $pad-sm;
  }
}

.panel {
  @extend %panel;
}

.tag {
  --cmm-Tag-icon-size: 1rem;
  --cmm-Tag-icon-margin: 0 -0.25rem 0 0;
}

.tab {
  > :global(.Tab__list) {
    background: var(--cmm-color-surface-1);
    padding-left: $pad-lg;

    @include variables.mq("xl") {
      padding-left: $pad-sm;
    }

    > :global(.Tab) {
      font-weight: var(--cmm-font-weight-medium);
    }
  }

  > :global(.Tab__panel) {
    @extend %panel;

    margin-top: 0;
  }
}
