@layer override {
  .container {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }

  .with-close {
    :global(.IconButton) {
      --cmm-IconButton-size: 1.5rem;
      --cmm-IconButton-icon-size: 1em;
      margin: 0 -0.5rem 0 0;
      border-radius: var(--cmm-radius-full);
    }
  }

  .with-avatar {
    :global(.Avatar) {
      --cmm-Avatar-size: 1.5rem;
      --cmm-Avatar-margin: 0 0 0 -0.5rem;
    }
  }
}
