.preview {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-rounded-lg);
  background: var(--cmm-color-surface-0);
}

.preview--padded {
  // dummy
  padding: 2rem;
}

.preview--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre {
  margin-bottom: 2rem;
}
