@use "@/styles/variables";

.container {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;

  &__horizontal {
    flex-direction: row;
    align-items: center;
    > * {
      width: 50%;
    }
  }

  &__vertical {
    flex-direction: column;
  }
}

.preview {
  padding: 2rem;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-lg);
  background: var(--cmm-color-surface-0);
  overflow-y: auto;

  &--padded {
    // placeholder
    margin-top: 2rem;
  }

  &--centered {
    display: flex;

    .previewInner {
      margin: auto;
    }
  }

  @include variables.mq("md") {
    padding: 1rem;
  }
}
