$iconSize_name: --cmm-Menu-icon-size;
$iconSize: var($iconSize_name, 1em);
$iconColor_name: --cmm-Menu-icon-color;
$iconColor: var($iconColor_name, var(--cmm-color-font-subtle));
$fontColor_name: --cmm-Menu-font-color;
$fontColor: var($fontColor_name, var(--cmm-color-font-base));
