@use "@/styles/variables";

.container {
  @include variables.container;

  padding: 2rem 0;
}

.title {
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-2xl);
  margin-bottom: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  @include variables.mq("lg") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include variables.mq("md") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color: var(--cmm-color-white);
  border: 1px solid var(--cmm-color-gray-2);
  border-radius: var(--cmm-rounded-lg);
  transition: var(--cmm-transition-bg), translate 0.3s;
  overflow: hidden;
  isolation: isolate;

  &:hover {
    background-color: var(--cmm-color-gray-0);
    translate: 0 -0.2rem;
  }

  &__img {
    position: relative;
    height: 12rem;
    background-color: var(--cmm-color-white);

    img {
      object-fit: contain;
    }
  }

  &__content {
    padding: 0.75rem;
    border-top: 1px solid var(--cmm-color-gray-2);
  }

  &__label {
    font-weight: var(--cmm-font-weight-semibold);
  }

  &__href {
    color: var(--cmm-color-gray-5);
    margin-top: 0.25rem;
    font-size: var(--cmm-font-size-sm);
    font-family: var(--cmm-font-family-code);
  }
}

.imgWrap {
  position: relative;
}
