.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

.linkList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
  padding: 0.3rem;
  transition: var(--cmm-transition-bg);
  border-radius: var(--cmm-rounded-md);
  font-size: var(--cmm-font-size-sm);

  &:hover {
    background-color: var(--cmm-color-gray-100);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--cmm-color-primary-500);
  }
}
