.base {
  position: absolute;
  top: 3rem;

  &.headerHidden {
    position: static;
    top: unset;
  }
}

.phone {
  width: min(30rem, 100vw);
  height: calc(100vh - 3rem);
  left: 50%;
  translate: -50%;
  border-left: 1px solid var(--cmm-color-gray-2);
}

.desktop {
  width: 100vw;
  height: calc(100vh - 3rem);

  &.headerHidden {
    height: 100vh;
  }
}
