@use "../../styles/utils";

@include utils.layer {
  $borderBWidth: 2px;
  $borderBPassiveColor: var(--cmm-color-tab-border);
  $borderBActiveColor: var(--cmm-color-tab-border-active);

  .group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Block {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 1rem;
    line-height: 2;
    color: var(--cmm-color-tab-font);
    border-top-left-radius: var(--cmm-rounded-md);
    border-top-right-radius: var(--cmm-rounded-md);
    border-bottom: solid $borderBWidth $borderBPassiveColor;
    margin-bottom: calc($borderBWidth * -1);
    transition: var(--cmm-transition-bg), color 0.3s, border 0.3s;

    &:hover {
      background: var(--cmm-color-tab-bg-hover);

      &:not(.--active) {
        border-color: var(--cmm-color-tab-border-hover);
        color: var(--cmm-color-tab-font-hover);
      }
    }

    &:focus-visible {
      outline: var(--cmm-outline-color-primary);
      outline-offset: var(--cmm-outline-offset);
    }

    &--active {
      border-color: var(--cmm-color-tab-border-active);
      color: var(--cmm-color-tab-font-active);
    }
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: $borderBWidth solid $borderBPassiveColor;
    background: var(--cmm-color-tab-list-bg);
  }

  .panel {
    margin-top: 1rem;
  }
}
