@use "@/styles/variables";

.Block {
  --title-height: 1.5rem;
  --title-row-gap: 0.5rem;

  display: grid;
  row-gap: var(--title-row-gap);
}

.title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: var(--cmm-font-size-xs);
  text-transform: uppercase;
  color: var(--cmm-color-gray-5);
  height: var(--title-height);

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--cmm-color-primary-5);
  }
}

.list {
  display: flex;
  flex-direction: column;
  color: var(--cmm-color-gray-7);
  // border-left: 2px solid var(--cmm-color-gray-2);
  max-height: calc(
    100dvh - variables.$headerHeight - var(--title-height) -
      var(--title-row-gap) - 2rem
  );
  overflow-y: auto;
}

.item {
  display: flex;
  padding: 0.25rem 0;
  padding-left: 1rem;
  font-size: var(--cmm-font-size-sm);
  border-left: 2px solid;
  border-left-color: var(--cmm-color-gray-2);

  &:hover {
    background: var(--cmm-color-gray-0);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.indent {
  padding-left: 2rem;
}

.active {
  background-color: var(--cmm-color-primary-0);
  color: var(--cmm-color-primary-6);
  position: relative;
  border-left-color: var(--cmm-color-primary-5);
}
