@use "../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .Block {
    @extend %sizeDefaults;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;

    // FIXME: don't use `:has()`
    &:has(input[type="radio"]:disabled) {
      cursor: not-allowed;
      color: var(--cmm-color-gray-400);

      label {
        cursor: not-allowed;
      }
    }

    input[type="radio"] {
      @include utils.size(locals.$size);

      appearance: none;
      border-radius: var(--cmm-rounded-full);
      background-color: var(--cmm-color-primary-100);
      // border: 1px solid var(--cmm-color-gray-200);
      display: grid;
      place-content: center;
      cursor: pointer;

      &::before {
        content: "";
        @include utils.size(
          calc(locals.$size * (calc(1 - locals.$ringWidthRatio)))
        );
        border-radius: var(--cmm-rounded-full);
        background-color: var(--cmm-color-primary-100);
        scale: 0;
      }

      &:checked {
        background-color: var(--cmm-color-primary-100);

        &::before {
          scale: 1;
          background-color: var(--cmm-color-primary-600);
        }
      }

      &:disabled {
        background-color: var(--cmm-color-gray-100);
        &:checked {
          &::before {
            background-color: var(--cmm-color-gray-400);
          }
        }
        cursor: not-allowed;
      }
    }

    label {
      cursor: pointer;
    }
  }

  %sizeDefaults {
    #{locals.$size_name}: 1.25rem;

    > label {
      font-size: var(--cmm-font-size-md);
    }
  }

  .--sm {
    #{locals.$size_name}: 1rem;

    > label {
      font-size: var(--cmm-font-size-sm);
    }
  }

  .--md {
    @extend %sizeDefaults;
  }

  .--lg {
    #{locals.$size_name}: 1.5rem;

    > label {
      font-size: var(--cmm-font-size-md);
    }
  }
}
