$size_name: --cmm-Radio-size;
$size: var($size_name);
$ringWidthRatio_name: --cmm-Radio-ring-width-ratio;
$ringWidthRatio: var($ringWidthRatio_name, 0.45);
$margin_name: --cmm-Radio-margin;
$margin: var($margin_name);
