@use "../../styles/inputs";

.Block {
  @include inputs.base(TextInput);
  @include inputs.sizes(TextInput);

  padding-left: var(--TextInput-left-decor-width, var(--TextInput-padding-x));
  padding-right: var(--TextInput-right-decor-width, var(--TextInput-padding-x));

  &::placeholder {
    font-weight: var(--cmm-font-weight-normal);
    color: var(--cmm-color-gray-400);
  }

  &[aria-invalid] {
    border-color: var(--cmm-color-danger-200);
    color: var(--cmm-color-danger-600);
    outline-color: var(--cmm-color-danger-200);

    &::placeholder {
      color: var(--cmm-color-danger-400);
    }
  }

  &--fill {
    --TextInput-width: 100%;
  }
}
