@mixin sizes() {
  &--sm {
    font-size: var(--cmm-font-size-sm);
    height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &--md {
    font-size: var(--cmm-font-size-md);
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &--lg {
    font-size: var(--cmm-font-size-md);
    height: 2.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin base() {
  appearance: none;
  border: 1px solid var(--cmm-input-border);
  border-radius: var(--cmm-rounded-lg);
  transition: var(--cmm-transition-bg);
  font-weight: var(--cmm-font-weight-normal);
  // Don't use `background` to avoid collision of `background-image` of Select.
  // TODO: Workaround without knowing the internal of a child.
  background-color: var(--cmm-input-bg);

  &:disabled {
    color: var(--cmm-color-font-muted);
    cursor: not-allowed;

    &::placeholder {
      color: var(--cmm-color-font-subtle);
    }
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &::placeholder {
    color: var(--cmm-color-font-muted);
  }

  &[aria-invalid="true"] {
    border-color: var(--cmm-color-danger-outline-border);
    color: var(--cmm-color-danger-font);
    outline-color: var(--cmm-outline-color-danger);

    &::placeholder {
      color: var(--cmm-color-danger-muted);
    }
  }
}
