@mixin sizes() {
  &--sm {
    font-size: var(--cmm-font-size-sm);
    height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &--md {
    font-size: var(--cmm-font-size-md);
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &--lg {
    font-size: var(--cmm-font-size-md);
    height: 2.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin base() {
  appearance: none;
  border: 1px solid var(--cmm-color-gray-2);
  border-radius: var(--cmm-rounded-lg);
  background-color: var(--cmm-color-white);
  transition: var(--cmm-transition-bg);
  font-weight: var(--cmm-font-weight-normal);

  &:disabled {
    background-color: var(--cmm-color-gray-1);
    color: var(--cmm-color-gray-5);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &::placeholder {
    color: var(--cmm-color-gray-4);
  }

  &[aria-invalid="true"] {
    border-color: var(--cmm-color-danger-2);
    color: var(--cmm-color-danger-6);
    outline-color: var(--cmm-color-danger-2);

    &::placeholder {
      color: var(--cmm-color-danger-4);
    }
  }
}
