@mixin sizes() {
  &--sm {
    font-size: var(--cmm-font-size-sm);
    height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &--md {
    font-size: var(--cmm-font-size-md);
    height: 2.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &--lg {
    font-size: var(--cmm-font-size-md);
    height: 2.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin base() {
  appearance: none;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-rounded-lg);
  background: var(--cmm-color-surface-raised);
  transition: var(--cmm-transition-bg);
  font-weight: var(--cmm-font-weight-normal);

  &:disabled {
    background-color: var(--cmm-color-surface-sunken);
    color: var(--cmm-color-font-muted);
    cursor: not-allowed;

    &::placeholder {
      color: var(--cmm-color-font-subtle);
    }
  }

  &:focus-visible {
    outline-offset: 0;
  }

  &::placeholder {
    color: var(--cmm-color-font-muted);
  }

  &[aria-invalid="true"] {
    border-color: var(--cmm-color-danger-outline-border);
    color: var(--cmm-color-danger-font);
    outline-color: var(--cmm-color-danger-subtle);

    &::placeholder {
      color: var(--cmm-color-danger-subtle);
    }
  }
}
