@use "@/styles/variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--cmm-color-border-base);
  background: var(--cmm-color-surface-2);
}

.inner {
  @include variables.container;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: minmax(auto, 22rem) 1fr;
  gap: 2.5rem;

  @include variables.mq("lg") {
    grid-template-columns: 1fr;
  }
}

.description {
  display: grid;
  place-content: start;
  row-gap: 0.5rem;
  transform: translateY(-0.3rem);

  &__logo {
    display: flex;
    align-items: center;

    & svg {
      width: 11rem;
      height: auto;
      color: var(--cmm-color-primary-font);
    }
  }

  &__text {
    font-size: var(--cmm-font-size-xs);
    color: var(--cmm-color-font-muted);
    padding-left: 0.4rem;
  }
}

.navGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 1rem;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--cmm-font-size-sm);

    & h2 {
      color: var(--cmm-color-font-base);
      font-weight: var(--cmm-font-weight-bold);
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    & a {
      color: var(--cmm-color-font-muted);
      font-weight: var(--cmm-font-weight-normal);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include variables.mq("md") {
    grid-template-columns: repeat(2, 1fr);
  }
}
