@use "@/styles/variables";

.Block {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.link {
  border-radius: var(--cmm-radius-lg);
  padding: 0.5rem 0;
  display: grid;
  row-gap: 0.25rem;

  &:hover {
    .link__upper {
      color: var(--cmm-color-link);
    }

    .link__lower {
      color: var(--cmm-color-link);
    }
  }

  &__upper {
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-subtle);
    transition: color 0.3s;

    &.next {
      text-align: end;
    }
  }

  &__lower {
    display: flex;
    align-items: center;
    color: var(--cmm-color-font-muted);
    font-weight: var(--cmm-font-weight-medium);
    gap: 0.25em;
    transition: color 0.3s;

    svg {
      width: 1em;
      height: 1em;
      stroke-width: 1.75;
    }

    &.next {
      justify-content: flex-end;
    }

    &.prev {
      justify-content: flex-start;
    }
  }
}
