@use "../../styles/utils";

@include utils.layer {
  .separator {
    margin-inline: 0.25rem;
    color: var(--cmm-color-font-subtle);
    width: 1.25rem;
    height: 1.25rem;
  }

  .list {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
  }

  .item {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-subtle);

    a {
      color: var(--cmm-color-font-muted);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
