@use "../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .details {
    border-bottom: 1px solid var(--cmm-color-gray-200);

    &[open] {
      .summary {
        svg {
          rotate: -180deg;
        }
      }
    }
  }

  .summary {
    display: block;
    cursor: pointer;
    padding: locals.$pad;
    display: grid;
    grid-template-columns: 1fr auto;
    user-select: none;
    transition: var(--cmm-transition-bg);
    font-weight: var(--cmm-font-weight-medium);

    &:hover {
      background-color: var(--cmm-color-gray-100);
    }

    &::-webkit-details-marker {
      display: none;
    }

    > svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .contents {
    padding: 0 locals.$pad locals.$pad locals.$pad;
    font-weight: var(--cmm-font-weight-normal);
  }
}
