@use "../../styles/inputs";
@use "../../styles/utils";
@use "./variables" as locals;

$iconWidth: 1.75rem;

@include utils.layer {
  .Block {
    @include inputs.base();
    @include inputs.sizes();

    background-image: locals.$marker;
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;

    &:not(:disabled) {
      cursor: pointer;
    }

    &--fill {
      width: 100%;
    }

    &--sm {
      font-size: var(--cmm-font-size-sm);
      height: 1.75rem;
      padding-left: 0.5rem;
      padding-right: calc(0.5rem + $iconWidth);
    }

    &--md {
      font-size: var(--cmm-font-size-md);
      height: 2.25rem;
      padding-left: 0.75rem;
      padding-right: calc(0.75rem + $iconWidth);
    }

    &--lg {
      font-size: var(--cmm-font-size-md);
      height: 2.75rem;
      padding-left: 1rem;
      padding-right: calc(1rem + $iconWidth);
    }
  }
}
