$radius_name: --Toggle-radius;
$radius: var($radius_name, var(--cmm-rounded-full));
$thumbWidth_name: --Toggle-thumb-width;
$thumbWidth: var($thumbWidth_name);
$thumbHeight_name: --Toggle-thumb-height;
$thumbHeight: var($thumbHeight_name);
$padX_name: --Toggle-pad-x;
$padX: var($padX_name);
$padY_name: --Toggle-pad-y;
$padY: var($padY_name);
$labelFontSize_name: --Toggle-label-font-size;
$labelFontSize: var($labelFontSize_name);
$labelPadX_name: --Toggle-label-pad-x;
$labelPadX: var($labelPadX_name);
$gap_name: --Toggle-gap;
$gap: var($gap_name);
