$radius_name: --Toggle-radius;
$radius: var($radius_name, var(--cmm-rounded-full));
$bgOff_name: --Toggle-bg-off;
$bgOff: var($bgOff_name, var(--cmm-color-gray-2));
$bgOn_name: --Toggle-bg-on;
$bgOn: var($bgOn_name, var(--cmm-color-primary-5));
$thumbWidth_name: --Toggle-thumb-width;
$thumbWidth: var($thumbWidth_name);
$thumbHeight_name: --Toggle-thumb-height;
$thumbHeight: var($thumbHeight_name);
$padX_name: --Toggle-pad-x;
$padX: var($padX_name);
$padY_name: --Toggle-pad-y;
$padY: var($padY_name);
$labelFontSize_name: --Toggle-label-font-size;
$labelFontSize: var($labelFontSize_name);
$labelColorOn_name: --Toggle-label-color-on;
$labelColorOn: var($labelColorOn_name, var(--cmm-color-white));
$labelColorOff_name: --Toggle-label-color-off;
$labelColorOff: var($labelColorOff_name, var(--cmm-color-gray-5));
$labelPadX_name: --Toggle-label-pad-x;
$labelPadX: var($labelPadX_name);
$gap_name: --Toggle-gap;
$gap: var($gap_name);
