@use "../../styles/utils";

@include utils.layer {
  .separator {
    color: var(--cmm-color-font-muted);
    width: 1rem;
    height: 1rem;
  }

  .list {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  .item {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-base);

    a {
      color: var(--cmm-color-font-base);
      text-decoration: underline;

      &:hover {
      }
    }
  }
}
