.container {
  background: var(--cmm-color-surface-0);
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-lg);
  padding: 1rem;
  max-width: 24rem;
  display: grid;
  gap: 1rem;

  :root[data-theme^="dark"] & {
    background: var(--cmm-color-surface-1);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 3;
  object-fit: cover;
  border-radius: var(--cmm-radius-sm);
}

.content {
  display: grid;
  gap: 0.5rem;
}

.title {
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-lg);
  line-height: 1.3;
}

.priceWrap {
  display: flex;
  flex-direction: column;
}

.price {
  color: var(--cmm-color-primary-emphasis);
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-lg);
}

.small {
  color: var(--cmm-color-font-muted);
  font-size: var(--cmm-font-size-xs);
}

.row {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.button {
  place-self: end;
  border-radius: var(--cmm-radius-full);
}
