.container {
  position: relative;
}

.code {
  border: none;
  display: block;
  background-color: var(--cmm-color-surface-1);
  padding: 1rem;
  border-radius: var(--cmm-rounded-lg);
  border: 1px solid var(--cmm-color-border-base);
  font-weight: var(--cmm-font-weight-normal);
  font-size: 0.85em;
  max-height: 28em;
}

$margin: 0.75rem;
$size: 2rem;
$iconSize: 1.2rem;

.copy-button {
  width: $size;
  height: $size;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-rounded-md);
  background-color: var(--cmm-color-surface-1);
  display: grid;
  place-content: center;
  transition: var(--cmm-transition-bg);

  &:hover {
    background: var(--cmm-color-surface-2);
  }

  > svg {
    width: $iconSize;
    height: $iconSize;
  }
}

.tooltip-wrap {
  position: absolute;
  top: $margin;
  right: $margin;
  opacity: 0;

  &.shown {
    opacity: 1;
  }
}

// margin-top: 2rem;
// border-top-left-radius: var(--cmm-rounded-lg);
// border-top-right-radius: var(--cmm-rounded-lg);
// background-color: var(--cmm-color-gray-1);
// color: var(--cmm-color-gray-5);
// padding: 0.5rem 1rem 0.5rem 1rem;
// font-size: var(--cmm-font-size-sm);

// & + * :where(pre):not(:where([class~="no-markup"] *)) {
//   margin-top: 0;

//   code {
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//   }
// }
