.Block {
  --radius: var(--cmm-rounded-md);
  --root-pad: 0.25rem;
  --item-pad: 0.5rem 0.75rem;
  --font-size: var(--cmm-font-size-sm);
  --font-color: var(--cmm-color-black);
  --icon-size: 1.25em;
  --icon-color: var(--cmm-color-primary-600);
  --bg-hover: var(--cmm-color-gray-100);
  --label-font-size: var(--cmm-font-size-xs);
  --label-font-color: var(--cmm-color-gray-500);
  --label-pad: 0.25rem 0.75rem;
  --min-width: 10rem;

  border: 1px solid var(--cmm-color-gray-100);
  border-radius: var(--radius);
  padding: var(--root-pad);
  min-width: var(--min-width);
  box-shadow: var(--cmm-shadow-sm);
  background-color: var(--cmm-color-white);
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: var(--radius);
  padding: var(--item-pad);
  font-size: var(--font-size);
  color: var(--font-color);
  cursor: pointer;
  transition: var(--cmm-transition-bg);
  width: 100%;

  &:hover,
  &--active {
    background-color: var(--bg-hover);
  }

  svg {
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--icon-color);
  }
}

.label {
  font-size: var(--label-font-size);
  color: var(--label-font-color);
  padding: var(--label-pad);
  width: 100%;
}

.divider {
  border-top: 1px solid var(--cmm-color-gray-200);
  margin: 0.25rem 0;
}
