@use "../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .Block {
    display: inline-block;
    border: 1px solid var(--cmm-color-gray-100);
    border-radius: var(--cmm-rounded-md);
    padding: 0.25rem;
    min-width: 10rem;
    box-shadow: var(--cmm-shadow-sm);
    background-color: var(--cmm-color-white);
    color: var(--cmm-color-black);
    font-size: var(--cmm-font-size-sm);
  }

  .item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border-radius: var(--cmm-rounded-sm);
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    transition: var(--cmm-transition-bg);
    width: 100%;
    color: locals.$fontColor;

    &:hover,
    &--active {
      background-color: locals.$bgHover;
    }

    > svg {
      width: locals.$iconSize;
      height: locals.$iconSize;
      color: locals.$iconColor;
    }
  }

  .label {
    color: var(--cmm-color-gray-500);
    padding: 0.25rem 0.75rem;
    width: 100%;
  }

  .divider {
    border-top: 1px solid var(--cmm-color-gray-200);
    margin: 0.25rem 0;
  }
}
