$iconSize_name: --Menu-icon-size;
$iconSize: var($iconSize_name, 1.25rem);
$iconColor_name: --Menu-icon-color;
$iconColor: var($iconColor_name, var(--cmm-color-font-subtle));
$fontColor_name: --Menu-font-color;
$fontColor: var($fontColor_name, var(--cmm-color-font-base));
$bgHover_name: --Menu-bg-hover;
$bgHover: var($bgHover_name);
