.button {
  position: relative;
}

.menu {
  :global {
    .Menu {
      min-width: 8rem;

      .Menu__item {
        > :first-child {
          flex: 1;
        }
      }

      .Menu__item--disabled {
        --cmm-Menu-font-icon: var(--cmm-color-success-emphasis);
      }
    }
  }
}
