$closeOffset_name: --cmm-Dialog-close-offset;
$closeOffset: var($closeOffset_name, 0.75rem);
$outerMargin_name: --cmm-Dialog-outer-margin;
$outerMargin: var($outerMargin_name, 1rem);
$minWidth_name: --cmm-Dialog-min-width;
$minWidth: var($minWidth_name, 28rem);
$maxWidth_name: --cmm-Dialog-max-width;
$maxWidth: var($maxWidth_name, 28rem);
