@use "@/styles/variables";

$rowGap: 0.25rem;

.Block {
  padding: 0.5rem;
  padding-bottom: 3rem;
  border-right: 1px solid var(--cmm-color-border-base);
  overflow-y: auto;
  scrollbar-gutter: stable;
  position: sticky;
  top: variables.$headerHeight;
  height: calc(100vh - variables.$headerHeight);
  scroll-behavior: smooth;
}
