@use "../../styles/utils";
@use "../Input/variables" as inputVars;

@include utils.layer {
  .Block {
    display: inline-flex;
    position: relative;
  }

  %decorator {
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    bottom: 0;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  .decorator--start {
    @extend %decorator;

    left: 0;
    width: inputVars.$startDecorWidth;
  }

  .decorator--end {
    @extend %decorator;

    right: 0;
    width: inputVars.$endDecorWidth;
  }
}
