.container {
  :global {
    .Tab__list {
      border: 1px solid var(--cmm-color-border-base);
      background: var(--cmm-color-surface-2);
      border-radius: var(--cmm-radius-xl) var(--cmm-radius-xl) 0 0;
      padding: 0 1rem;
      gap: 1rem;
    }

    .Tab {
      height: 2.75rem;
      font-size: var(--cmm-font-size-sm);
      font-weight: var(--cmm-font-weight-medium);
      color: var(--cmm-color-font-subtle);
      border-width: 0;
      border-bottom-width: 2px;
      margin-bottom: -1px;
      border-color: transparent;
      padding: 0;

      &:hover:not(.Tab--active) {
        color: var(--cmm-color-font-base);
      }

      &:focus-visible {
        outline: var(--cmm-outline-width) solid var(--cmm-outline-color-primary);
        outline-offset: 3px;
      }
    }

    .Tab--active {
      color: var(--cmm-color-primary-emphasis);
      border-color: var(--cmm-color-primary-emphasis);
    }

    .Tab__panel {
      margin: 0;
    }
  }
}

.pre {
  margin: 0rem !important;
}

.code {
  margin: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}
