.container {
  :global(.Tab__list) {
    border-bottom: 1px solid var(--cmm-color-border-base);
    background: var(--cmm-color-surface-2);
    border: 1px solid var(--cmm-color-border-base);
    border-radius: var(--cmm-rounded-lg) var(--cmm-rounded-lg) 0 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    gap: 0.5rem;
  }

  :global(.Tab) {
    padding: 0 0.75rem;
    height: 2rem;
    font-size: var(--cmm-font-size-sm);
    font-weight: var(--cmm-font-weight-medium);
    color: var(--cmm-color-font-muted);
    border-width: 1px;
    border-bottom-width: 2px;
    margin-bottom: -1px;
    border-color: transparent;
    background: none;
    border-radius: var(--cmm-rounded-md) var(--cmm-rounded-md) 0 0;

    &:hover:not(:global(.Tab--active)) {
      color: var(--cmm-color-font-base);
      background: var(--cmm-color-surface-3);
    }

    &:focus-visible {
      outline: var(--cmm-outline-width) solid var(--cmm-outline-color-primary);
      outline-offset: 3px;
    }
  }

  :global(.Tab--active) {
    color: var(--cmm-color-primary-emphasis);
    background: var(--cmm-color-surface-0);
    border-color: var(--cmm-color-border-base);
    border-bottom-color: var(--cmm-color-primary-emphasis);
  }

  :global(.Tab__panel) {
    margin: 0;
  }
}

.pre {
  margin: 0rem !important;
}

.code {
  margin: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}
