@layer cmm.reset, cmm.theme, cmm.base, cmm.components;
/* Normalize */
@layer cmm.reset {
  /* Original: https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

  /*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
  */

  *,
  ::before,
  ::after {
    box-sizing: border-box; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: currentColor; /* 2 */
  }

  /*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  */

  html {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
  }

  /*
  1. Remove the margin in all browsers.
  2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
  */

  body {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
  }

  /*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Ensure horizontal rules are visible by default.
  */

  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  /*
  Add the correct text decoration in Chrome, Edge, and Safari.
  */

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  /*
  Remove the default font size and weight for headings.
  */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  /*
  Reset links to optimize for opt-in styling instead of opt-out.
  */

  a {
    color: inherit;
    text-decoration: inherit;
  }

  /*
  Add the correct font weight in Edge and Safari.
  */

  b,
  strong {
    font-weight: bolder;
  }

  /*
  Add the correct font size in all browsers.
  */

  small {
    font-size: 80%;
  }

  /*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
  */

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
  */

  table {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
  }

  /*
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  3. Remove default padding in all browsers.
  */

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
  }

  /*
  Remove the inheritance of text transform in Edge and Firefox.
  */

  button,
  select {
    text-transform: none;
  }

  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Remove default button styles.
  */

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* 1 */
    background-color: transparent; /* 2 */
    background-image: none; /* 2 */
  }

  /*
  Use the modern Firefox focus style for all focusable elements.
  */

  :-moz-focusring {
    outline: auto;
  }

  /*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
  */

  :-moz-ui-invalid {
    box-shadow: none;
  }

  /*
  Add the correct vertical alignment in Chrome and Firefox.
  */

  progress {
    vertical-align: baseline;
  }

  /*
  Correct the cursor style of increment and decrement buttons in Safari.
  */

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  /*
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */

  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }

  /*
  Remove the inner padding in Chrome and Safari on macOS.
  */

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /*
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to `inherit` in Safari.
  */

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }

  /*
  Add the correct display in Chrome and Safari.
  */

  summary {
    display: list-item;
  }

  /*
  Removes the default spacing and border for appropriate elements.
  */

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  legend {
    padding: 0;
  }

  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /*
  Prevent resizing textareas horizontally by default.
  */

  textarea {
    resize: vertical;
  }

  /*
  1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
  2. Set the default placeholder color to the user's configured gray 400 color.
  */

  input::placeholder,
  textarea::placeholder {
    opacity: 1; /* 1 */
    color: #9ca3af; /* 2 */
  }

  /*
  Set the default cursor for buttons.
  */

  button,
  [role="button"] {
    cursor: pointer;
  }

  /*
  Make sure disabled buttons don't get the pointer cursor.
  */
  :disabled {
    cursor: default;
  }

  /*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
     This can trigger a poorly considered lint error in some tools but is included by design.
  */

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
  }

  /*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
  */

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  /* Make elements with the HTML hidden attribute stay hidden by default */
  [hidden] {
    display: none;
  }
}
/* Theme - light */
@layer cmm.theme {
  :root[data-theme="light"] {
    --cmm-color-black: #141517;
    --cmm-color-white: #fff;
    --cmm-color-gray-0: #f7fafc;
    --cmm-color-gray-1: #edf2f7;
    --cmm-color-gray-2: #e2e8f0;
    --cmm-color-gray-3: #cbd5e0;
    --cmm-color-gray-4: #a0aec0;
    --cmm-color-gray-5: #718096;
    --cmm-color-gray-6: #4a5568;
    --cmm-color-gray-7: #2d3748;
    --cmm-color-gray-8: #1a202c;
    --cmm-color-gray-9: #171923;
    --cmm-color-primary-0: #eff6ff;
    --cmm-color-primary-1: #dbeafe;
    --cmm-color-primary-2: #bfdbfe;
    --cmm-color-primary-3: #93c5fd;
    --cmm-color-primary-4: #60a5fa;
    --cmm-color-primary-5: #3b82f6;
    --cmm-color-primary-6: #2563eb;
    --cmm-color-primary-7: #1d4ed8;
    --cmm-color-primary-8: #1e40af;
    --cmm-color-primary-9: #1e3a8a;
    --cmm-color-primary-font: var(--cmm-color-primary-6);
    --cmm-color-primary-emphasis: var(--cmm-color-primary-6);
    --cmm-color-primary-muted: var(--cmm-color-primary-4);
    --cmm-color-primary-subtle: var(--cmm-color-primary-1);
    --cmm-color-primary-solid-bg: var(--cmm-color-primary-6);
    --cmm-color-primary-solid-bg-hover: var(--cmm-color-primary-7);
    --cmm-color-primary-solid-font: var(--cmm-color-white);
    --cmm-color-primary-soft-bg: var(--cmm-color-primary-0);
    --cmm-color-primary-soft-bg-hover: var(--cmm-color-primary-1);
    --cmm-color-primary-soft-font: var(--cmm-color-primary-6);
    --cmm-color-primary-outline-bg: transparent;
    --cmm-color-primary-outline-bg-hover: var(--cmm-color-primary-1);
    --cmm-color-primary-outline-font: var(--cmm-color-primary-6);
    --cmm-color-primary-outline-border: var(--cmm-color-primary-2);
    --cmm-color-primary-ghost-bg: transparent;
    --cmm-color-primary-ghost-bg-hover: var(--cmm-color-primary-1);
    --cmm-color-primary-ghost-font: var(--cmm-color-primary-6);
    --cmm-color-neutral-0: #f7fafc;
    --cmm-color-neutral-1: #edf2f7;
    --cmm-color-neutral-2: #e2e8f0;
    --cmm-color-neutral-3: #cbd5e0;
    --cmm-color-neutral-4: #a0aec0;
    --cmm-color-neutral-5: #718096;
    --cmm-color-neutral-6: #4a5568;
    --cmm-color-neutral-7: #2d3748;
    --cmm-color-neutral-8: #1a202c;
    --cmm-color-neutral-9: #171923;
    --cmm-color-neutral-font: var(--cmm-color-neutral-6);
    --cmm-color-neutral-emphasis: var(--cmm-color-neutral-6);
    --cmm-color-neutral-muted: var(--cmm-color-neutral-4);
    --cmm-color-neutral-subtle: var(--cmm-color-neutral-1);
    --cmm-color-neutral-solid-bg: var(--cmm-color-neutral-6);
    --cmm-color-neutral-solid-bg-hover: var(--cmm-color-neutral-7);
    --cmm-color-neutral-solid-font: var(--cmm-color-white);
    --cmm-color-neutral-soft-bg: var(--cmm-color-neutral-0);
    --cmm-color-neutral-soft-bg-hover: var(--cmm-color-neutral-1);
    --cmm-color-neutral-soft-font: var(--cmm-color-neutral-6);
    --cmm-color-neutral-outline-bg: transparent;
    --cmm-color-neutral-outline-bg-hover: var(--cmm-color-neutral-1);
    --cmm-color-neutral-outline-font: var(--cmm-color-neutral-6);
    --cmm-color-neutral-outline-border: var(--cmm-color-neutral-2);
    --cmm-color-neutral-ghost-bg: transparent;
    --cmm-color-neutral-ghost-bg-hover: var(--cmm-color-neutral-1);
    --cmm-color-neutral-ghost-font: var(--cmm-color-neutral-6);
    --cmm-color-info-0: #f0f9ff;
    --cmm-color-info-1: #e0f2fe;
    --cmm-color-info-2: #bae6fd;
    --cmm-color-info-3: #7dd3fc;
    --cmm-color-info-4: #38bdf8;
    --cmm-color-info-5: #0ea5e9;
    --cmm-color-info-6: #0284c7;
    --cmm-color-info-7: #0369a1;
    --cmm-color-info-8: #075985;
    --cmm-color-info-9: #0c4a6e;
    --cmm-color-info-font: var(--cmm-color-info-6);
    --cmm-color-info-emphasis: var(--cmm-color-info-6);
    --cmm-color-info-muted: var(--cmm-color-info-4);
    --cmm-color-info-subtle: var(--cmm-color-info-1);
    --cmm-color-info-solid-bg: var(--cmm-color-info-6);
    --cmm-color-info-solid-bg-hover: var(--cmm-color-info-7);
    --cmm-color-info-solid-font: var(--cmm-color-white);
    --cmm-color-info-soft-bg: var(--cmm-color-info-0);
    --cmm-color-info-soft-bg-hover: var(--cmm-color-info-1);
    --cmm-color-info-soft-font: var(--cmm-color-info-6);
    --cmm-color-info-outline-bg: transparent;
    --cmm-color-info-outline-bg-hover: var(--cmm-color-info-1);
    --cmm-color-info-outline-font: var(--cmm-color-info-6);
    --cmm-color-info-outline-border: var(--cmm-color-info-2);
    --cmm-color-info-ghost-bg: transparent;
    --cmm-color-info-ghost-bg-hover: var(--cmm-color-info-1);
    --cmm-color-info-ghost-font: var(--cmm-color-info-6);
    --cmm-color-success-0: #f0fdf4;
    --cmm-color-success-1: #dcfce7;
    --cmm-color-success-2: #bbf7d0;
    --cmm-color-success-3: #86efac;
    --cmm-color-success-4: #4ade80;
    --cmm-color-success-5: #22c55e;
    --cmm-color-success-6: #16a34a;
    --cmm-color-success-7: #15803d;
    --cmm-color-success-8: #166534;
    --cmm-color-success-9: #14532d;
    --cmm-color-success-font: var(--cmm-color-success-6);
    --cmm-color-success-emphasis: var(--cmm-color-success-6);
    --cmm-color-success-muted: var(--cmm-color-success-4);
    --cmm-color-success-subtle: var(--cmm-color-success-1);
    --cmm-color-success-solid-bg: var(--cmm-color-success-6);
    --cmm-color-success-solid-bg-hover: var(--cmm-color-success-7);
    --cmm-color-success-solid-font: var(--cmm-color-white);
    --cmm-color-success-soft-bg: var(--cmm-color-success-0);
    --cmm-color-success-soft-bg-hover: var(--cmm-color-success-1);
    --cmm-color-success-soft-font: var(--cmm-color-success-6);
    --cmm-color-success-outline-bg: transparent;
    --cmm-color-success-outline-bg-hover: var(--cmm-color-success-1);
    --cmm-color-success-outline-font: var(--cmm-color-success-6);
    --cmm-color-success-outline-border: var(--cmm-color-success-2);
    --cmm-color-success-ghost-bg: transparent;
    --cmm-color-success-ghost-bg-hover: var(--cmm-color-success-1);
    --cmm-color-success-ghost-font: var(--cmm-color-success-6);
    --cmm-color-warn-0: #fff7ed;
    --cmm-color-warn-1: #ffedd5;
    --cmm-color-warn-2: #fed7aa;
    --cmm-color-warn-3: #fdba74;
    --cmm-color-warn-4: #fb923c;
    --cmm-color-warn-5: #f97316;
    --cmm-color-warn-6: #ea580c;
    --cmm-color-warn-7: #c2410c;
    --cmm-color-warn-8: #9a3412;
    --cmm-color-warn-9: #7c2d12;
    --cmm-color-warn-font: var(--cmm-color-warn-6);
    --cmm-color-warn-emphasis: var(--cmm-color-warn-6);
    --cmm-color-warn-muted: var(--cmm-color-warn-4);
    --cmm-color-warn-subtle: var(--cmm-color-warn-1);
    --cmm-color-warn-solid-bg: var(--cmm-color-warn-6);
    --cmm-color-warn-solid-bg-hover: var(--cmm-color-warn-7);
    --cmm-color-warn-solid-font: var(--cmm-color-white);
    --cmm-color-warn-soft-bg: var(--cmm-color-warn-0);
    --cmm-color-warn-soft-bg-hover: var(--cmm-color-warn-1);
    --cmm-color-warn-soft-font: var(--cmm-color-warn-6);
    --cmm-color-warn-outline-bg: transparent;
    --cmm-color-warn-outline-bg-hover: var(--cmm-color-warn-1);
    --cmm-color-warn-outline-font: var(--cmm-color-warn-6);
    --cmm-color-warn-outline-border: var(--cmm-color-warn-2);
    --cmm-color-warn-ghost-bg: transparent;
    --cmm-color-warn-ghost-bg-hover: var(--cmm-color-warn-1);
    --cmm-color-warn-ghost-font: var(--cmm-color-warn-6);
    --cmm-color-danger-0: #fff5f5;
    --cmm-color-danger-1: #fed7d7;
    --cmm-color-danger-2: #feb2b2;
    --cmm-color-danger-3: #fc8181;
    --cmm-color-danger-4: #f56565;
    --cmm-color-danger-5: #e53e3e;
    --cmm-color-danger-6: #c53030;
    --cmm-color-danger-7: #b91c1c;
    --cmm-color-danger-8: #991b1b;
    --cmm-color-danger-9: #7f1d1d;
    --cmm-color-danger-font: var(--cmm-color-danger-6);
    --cmm-color-danger-emphasis: var(--cmm-color-danger-6);
    --cmm-color-danger-muted: var(--cmm-color-danger-4);
    --cmm-color-danger-subtle: var(--cmm-color-danger-1);
    --cmm-color-danger-solid-bg: var(--cmm-color-danger-6);
    --cmm-color-danger-solid-bg-hover: var(--cmm-color-danger-7);
    --cmm-color-danger-solid-font: var(--cmm-color-white);
    --cmm-color-danger-soft-bg: var(--cmm-color-danger-0);
    --cmm-color-danger-soft-bg-hover: var(--cmm-color-danger-1);
    --cmm-color-danger-soft-font: var(--cmm-color-danger-6);
    --cmm-color-danger-outline-bg: transparent;
    --cmm-color-danger-outline-bg-hover: var(--cmm-color-danger-1);
    --cmm-color-danger-outline-font: var(--cmm-color-danger-6);
    --cmm-color-danger-outline-border: var(--cmm-color-danger-2);
    --cmm-color-danger-ghost-bg: transparent;
    --cmm-color-danger-ghost-bg-hover: var(--cmm-color-danger-1);
    --cmm-color-danger-ghost-font: var(--cmm-color-danger-6);
    --cmm-color-code-bg: var(--cmm-color-gray-1);
    --cmm-color-link: var(--cmm-color-primary-6);
    --cmm-color-surface-0: var(--cmm-color-white);
    --cmm-color-surface-1: var(--cmm-color-neutral-0);
    --cmm-color-surface-2: var(--cmm-color-neutral-1);
    --cmm-color-surface-3: var(--cmm-color-neutral-2);
    --cmm-color-surface-4: var(--cmm-color-neutral-3);
    --cmm-color-font-base: var(--cmm-color-black);
    --cmm-color-font-muted: var(--cmm-color-gray-6);
    --cmm-color-font-subtle: var(--cmm-color-gray-4);
    --cmm-color-font-base-invert: var(--cmm-color-white);
    --cmm-color-border-base: var(--cmm-color-gray-2);
    --cmm-color-border-subtle: var(--cmm-color-gray-1);
    --cmm-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --cmm-font-family-code: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
      Consolas, monospace;
    --cmm-font-size-xs: 0.75rem;
    --cmm-font-size-sm: 0.875rem;
    --cmm-font-size-md: 1rem;
    --cmm-font-size-lg: 1.125rem;
    --cmm-font-size-xl: 1.25rem;
    --cmm-font-size-2xl: 1.5rem;
    --cmm-font-size-3xl: 1.875rem;
    --cmm-font-size-4xl: 2.25rem;
    --cmm-font-size-5xl: 3rem;
    --cmm-font-size-6xl: 3.75rem;
    --cmm-font-weight-thin: 100;
    --cmm-font-weight-extralight: 200;
    --cmm-font-weight-light: 300;
    --cmm-font-weight-normal: 400;
    --cmm-font-weight-medium: 500;
    --cmm-font-weight-semibold: 600;
    --cmm-font-weight-bold: 700;
    --cmm-font-weight-extrabold: 800;
    --cmm-font-weight-black: 900;
    --cmm-outline-offset: 2px;
    --cmm-outline-width: 2px;
    --cmm-outline-color-primary: var(--cmm-color-primary-4);
    --cmm-outline-color-danger: var(--cmm-color-danger-4);
    --cmm-rounded-none: none;
    --cmm-rounded-xs: 0.125rem;
    --cmm-rounded-sm: 0.25rem;
    --cmm-rounded-md: 0.375rem;
    --cmm-rounded-lg: 0.5rem;
    --cmm-rounded-xl: 0.75rem;
    --cmm-rounded-full: 9999px;
    --cmm-shadow-xs: 2px 2px 2px var(--cmm-shadow-color);
    --cmm-shadow-sm: 2px 2px 6px var(--cmm-shadow-color);
    --cmm-shadow-md: 2px 2px 10px var(--cmm-shadow-color);
    --cmm-shadow-lg: 2px 2px 14px var(--cmm-shadow-color);
    --cmm-shadow-xl: 2px 2px 18px var(--cmm-shadow-color);
    --cmm-shadow-color: rgba(12, 12, 13, 0.1);
    --cmm-transition-bg: background-color 0.3s;
    --cmm-Input-bg: var(--cmm-color-surface-0);
    --cmm-Input-bg-hover: var(--cmm-color-surface-0);
    --cmm-Input-border: var(--cmm-color-border-base);
    --cmm-Kbd-bg: var(--cmm-color-surface-0);
    --cmm-Kbd-border: var(--cmm-color-surface-3);
    --cmm-Kbd-font: var(--cmm-color-font-muted);
    --cmm-Menu-bg: var(--cmm-color-surface-0);
    --cmm-Menu-bg-hover: var(--cmm-color-surface-2);
    --cmm-Menu-font-label: var(--cmm-color-font-base);
    --cmm-Menu-font-icon: var(--cmm-color-font-subtle);
    --cmm-Menu-font-group: var(--cmm-color-font-subtle);
    --cmm-Tab-bg: var(--cmm-color-surface-0);
    --cmm-Tab-list-bg: var(--cmm-color-surface-0);
    --cmm-Tab-bg-active: var(--cmm-color-surface-0);
    --cmm-Tab-bg-hover: var(--cmm-color-neutral-subtle);
    --cmm-Tab-border: var(--cmm-color-border-base);
    --cmm-Tab-border-active: var(--cmm-color-primary-emphasis);
    --cmm-Tab-border-hover: var(--cmm-color-primary-3);
    --cmm-Tab-font: var(--cmm-color-font-muted);
    --cmm-Tab-font-active: var(--cmm-color-primary-font);
    --cmm-Tab-font-hover: var(--cmm-color-font-muted);
    --cmm-Tooltip-bg: var(--cmm-color-gray-6);
    --cmm-Tooltip-font: var(--cmm-color-white);
    --cmm-Switch-bg-off: var(--cmm-color-neutral-subtle);
    --cmm-Switch-bg-on: var(--cmm-color-primary-emphasis);
    --cmm-Switch-bg-thumb: var(--cmm-color-surface-0);
    --cmm-Switch-font-off: var(--cmm-color-font-muted);
    --cmm-Switch-font-on: var(--cmm-color-font-base-invert);
    --cmm-Switch-border: var(--cmm-color-neutral-3);
    --cmm-Switch-border-thumb: var(--cmm-color-neutral-3);
    --cmm-text-input-bg: var(--cmm-color-black);
    --cmm-text-input-bg-hover: var(--cmm-color-black);
  }
}
/* Theme - dark */
@layer cmm.theme {
  :root[data-theme="dark"] {
    --cmm-color-black: #141517;
    --cmm-color-white: #fff;
    --cmm-color-gray-0: #f7fafc;
    --cmm-color-gray-1: #edf2f7;
    --cmm-color-gray-2: #e2e8f0;
    --cmm-color-gray-3: #cbd5e0;
    --cmm-color-gray-4: #a0aec0;
    --cmm-color-gray-5: #718096;
    --cmm-color-gray-6: #4a5568;
    --cmm-color-gray-7: #2d3748;
    --cmm-color-gray-8: #1a202c;
    --cmm-color-gray-9: #171923;
    --cmm-color-primary-0: #eff6ff;
    --cmm-color-primary-1: #dbeafe;
    --cmm-color-primary-2: #bfdbfe;
    --cmm-color-primary-3: #93c5fd;
    --cmm-color-primary-4: #60a5fa;
    --cmm-color-primary-5: #3b82f6;
    --cmm-color-primary-6: #2563eb;
    --cmm-color-primary-7: #1d4ed8;
    --cmm-color-primary-8: #1e40af;
    --cmm-color-primary-9: #1e3a8a;
    --cmm-color-primary-font: #2563eb;
    --cmm-color-primary-emphasis: #3b82f6;
    --cmm-color-primary-muted: #60a5fabf;
    --cmm-color-primary-subtle: #60a5fa80;
    --cmm-color-primary-solid-bg: #2563eb;
    --cmm-color-primary-solid-bg-hover: #1d4ed8;
    --cmm-color-primary-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-primary-soft-bg: #2563eb26;
    --cmm-color-primary-soft-bg-hover: #2563eb4d;
    --cmm-color-primary-soft-font: #93c5fd;
    --cmm-color-primary-outline-bg: transparent;
    --cmm-color-primary-outline-bg-hover: #2563eb4d;
    --cmm-color-primary-outline-font: #bfdbfe;
    --cmm-color-primary-outline-border: #2563eb80;
    --cmm-color-primary-ghost-bg: transparent;
    --cmm-color-primary-ghost-bg-hover: #2563eb4d;
    --cmm-color-primary-ghost-font: #bfdbfe;
    --cmm-color-neutral-0: #f7fafc;
    --cmm-color-neutral-1: #edf2f7;
    --cmm-color-neutral-2: #e2e8f0;
    --cmm-color-neutral-3: #cbd5e0;
    --cmm-color-neutral-4: #a0aec0;
    --cmm-color-neutral-5: #718096;
    --cmm-color-neutral-6: #4a5568;
    --cmm-color-neutral-7: #2d3748;
    --cmm-color-neutral-8: #1a202c;
    --cmm-color-neutral-9: #171923;
    --cmm-color-neutral-font: #4a5568;
    --cmm-color-neutral-emphasis: #718096;
    --cmm-color-neutral-muted: #a0aec0bf;
    --cmm-color-neutral-subtle: #a0aec080;
    --cmm-color-neutral-solid-bg: #4a5568;
    --cmm-color-neutral-solid-bg-hover: #2d3748;
    --cmm-color-neutral-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-neutral-soft-bg: #4a556826;
    --cmm-color-neutral-soft-bg-hover: #4a55684d;
    --cmm-color-neutral-soft-font: #cbd5e0;
    --cmm-color-neutral-outline-bg: transparent;
    --cmm-color-neutral-outline-bg-hover: #4a55684d;
    --cmm-color-neutral-outline-font: #e2e8f0;
    --cmm-color-neutral-outline-border: #4a556880;
    --cmm-color-neutral-ghost-bg: transparent;
    --cmm-color-neutral-ghost-bg-hover: #4a55684d;
    --cmm-color-neutral-ghost-font: #e2e8f0;
    --cmm-color-info-0: #f0f9ff;
    --cmm-color-info-1: #e0f2fe;
    --cmm-color-info-2: #bae6fd;
    --cmm-color-info-3: #7dd3fc;
    --cmm-color-info-4: #38bdf8;
    --cmm-color-info-5: #0ea5e9;
    --cmm-color-info-6: #0284c7;
    --cmm-color-info-7: #0369a1;
    --cmm-color-info-8: #075985;
    --cmm-color-info-9: #0c4a6e;
    --cmm-color-info-font: #0284c7;
    --cmm-color-info-emphasis: #0ea5e9;
    --cmm-color-info-muted: #38bdf8bf;
    --cmm-color-info-subtle: #38bdf880;
    --cmm-color-info-solid-bg: #0284c7;
    --cmm-color-info-solid-bg-hover: #0369a1;
    --cmm-color-info-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-info-soft-bg: #0284c726;
    --cmm-color-info-soft-bg-hover: #0284c74d;
    --cmm-color-info-soft-font: #7dd3fc;
    --cmm-color-info-outline-bg: transparent;
    --cmm-color-info-outline-bg-hover: #0284c74d;
    --cmm-color-info-outline-font: #bae6fd;
    --cmm-color-info-outline-border: #0284c780;
    --cmm-color-info-ghost-bg: transparent;
    --cmm-color-info-ghost-bg-hover: #0284c74d;
    --cmm-color-info-ghost-font: #bae6fd;
    --cmm-color-success-0: #f0fdf4;
    --cmm-color-success-1: #dcfce7;
    --cmm-color-success-2: #bbf7d0;
    --cmm-color-success-3: #86efac;
    --cmm-color-success-4: #4ade80;
    --cmm-color-success-5: #22c55e;
    --cmm-color-success-6: #16a34a;
    --cmm-color-success-7: #15803d;
    --cmm-color-success-8: #166534;
    --cmm-color-success-9: #14532d;
    --cmm-color-success-font: #16a34a;
    --cmm-color-success-emphasis: #22c55e;
    --cmm-color-success-muted: #4ade80bf;
    --cmm-color-success-subtle: #4ade8080;
    --cmm-color-success-solid-bg: #16a34a;
    --cmm-color-success-solid-bg-hover: #15803d;
    --cmm-color-success-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-success-soft-bg: #16a34a26;
    --cmm-color-success-soft-bg-hover: #16a34a4d;
    --cmm-color-success-soft-font: #86efac;
    --cmm-color-success-outline-bg: transparent;
    --cmm-color-success-outline-bg-hover: #16a34a4d;
    --cmm-color-success-outline-font: #bbf7d0;
    --cmm-color-success-outline-border: #16a34a80;
    --cmm-color-success-ghost-bg: transparent;
    --cmm-color-success-ghost-bg-hover: #16a34a4d;
    --cmm-color-success-ghost-font: #bbf7d0;
    --cmm-color-warn-0: #fff7ed;
    --cmm-color-warn-1: #ffedd5;
    --cmm-color-warn-2: #fed7aa;
    --cmm-color-warn-3: #fdba74;
    --cmm-color-warn-4: #fb923c;
    --cmm-color-warn-5: #f97316;
    --cmm-color-warn-6: #ea580c;
    --cmm-color-warn-7: #c2410c;
    --cmm-color-warn-8: #9a3412;
    --cmm-color-warn-9: #7c2d12;
    --cmm-color-warn-font: #ea580c;
    --cmm-color-warn-emphasis: #f97316;
    --cmm-color-warn-muted: #fb923cbf;
    --cmm-color-warn-subtle: #fb923c80;
    --cmm-color-warn-solid-bg: #ea580c;
    --cmm-color-warn-solid-bg-hover: #c2410c;
    --cmm-color-warn-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-warn-soft-bg: #ea580c26;
    --cmm-color-warn-soft-bg-hover: #ea580c4d;
    --cmm-color-warn-soft-font: #fdba74;
    --cmm-color-warn-outline-bg: transparent;
    --cmm-color-warn-outline-bg-hover: #ea580c4d;
    --cmm-color-warn-outline-font: #fed7aa;
    --cmm-color-warn-outline-border: #ea580c80;
    --cmm-color-warn-ghost-bg: transparent;
    --cmm-color-warn-ghost-bg-hover: #ea580c4d;
    --cmm-color-warn-ghost-font: #fed7aa;
    --cmm-color-danger-0: #fff5f5;
    --cmm-color-danger-1: #fed7d7;
    --cmm-color-danger-2: #feb2b2;
    --cmm-color-danger-3: #fc8181;
    --cmm-color-danger-4: #f56565;
    --cmm-color-danger-5: #e53e3e;
    --cmm-color-danger-6: #c53030;
    --cmm-color-danger-7: #b91c1c;
    --cmm-color-danger-8: #991b1b;
    --cmm-color-danger-9: #7f1d1d;
    --cmm-color-danger-font: #c53030;
    --cmm-color-danger-emphasis: #e53e3e;
    --cmm-color-danger-muted: #f56565bf;
    --cmm-color-danger-subtle: #f5656580;
    --cmm-color-danger-solid-bg: #c53030;
    --cmm-color-danger-solid-bg-hover: #b91c1c;
    --cmm-color-danger-solid-font: var(--cmm-color-font-base-invert);
    --cmm-color-danger-soft-bg: #c5303026;
    --cmm-color-danger-soft-bg-hover: #c530304d;
    --cmm-color-danger-soft-font: #fc8181;
    --cmm-color-danger-outline-bg: transparent;
    --cmm-color-danger-outline-bg-hover: #c530304d;
    --cmm-color-danger-outline-font: #feb2b2;
    --cmm-color-danger-outline-border: #c5303080;
    --cmm-color-danger-ghost-bg: transparent;
    --cmm-color-danger-ghost-bg-hover: #c530304d;
    --cmm-color-danger-ghost-font: #feb2b2;
    --cmm-color-code-bg: var(--cmm-color-surface-3);
    --cmm-color-link: var(--cmm-color-primary-5);
    --cmm-color-surface-0: var(--cmm-color-black);
    --cmm-color-surface-1: var(--cmm-color-neutral-9);
    --cmm-color-surface-2: var(--cmm-color-neutral-8);
    --cmm-color-surface-3: var(--cmm-color-neutral-7);
    --cmm-color-surface-4: var(--cmm-color-neutral-6);
    --cmm-color-font-base: var(--cmm-color-white);
    --cmm-color-font-muted: var(--cmm-color-gray-4);
    --cmm-color-font-subtle: var(--cmm-color-gray-6);
    --cmm-color-font-base-invert: var(--cmm-color-white);
    --cmm-color-border-base: var(--cmm-color-gray-7);
    --cmm-color-border-subtle: var(--cmm-color-gray-8);
    --cmm-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --cmm-font-family-code: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
      Consolas, monospace;
    --cmm-font-size-xs: 0.75rem;
    --cmm-font-size-sm: 0.875rem;
    --cmm-font-size-md: 1rem;
    --cmm-font-size-lg: 1.125rem;
    --cmm-font-size-xl: 1.25rem;
    --cmm-font-size-2xl: 1.5rem;
    --cmm-font-size-3xl: 1.875rem;
    --cmm-font-size-4xl: 2.25rem;
    --cmm-font-size-5xl: 3rem;
    --cmm-font-size-6xl: 3.75rem;
    --cmm-font-weight-thin: 100;
    --cmm-font-weight-extralight: 200;
    --cmm-font-weight-light: 300;
    --cmm-font-weight-normal: 400;
    --cmm-font-weight-medium: 500;
    --cmm-font-weight-semibold: 600;
    --cmm-font-weight-bold: 700;
    --cmm-font-weight-extrabold: 800;
    --cmm-font-weight-black: 900;
    --cmm-outline-offset: 2px;
    --cmm-outline-width: 2px;
    --cmm-outline-color-primary: var(--cmm-color-primary-6);
    --cmm-outline-color-danger: var(--cmm-color-danger-6);
    --cmm-rounded-none: none;
    --cmm-rounded-xs: 0.125rem;
    --cmm-rounded-sm: 0.25rem;
    --cmm-rounded-md: 0.375rem;
    --cmm-rounded-lg: 0.5rem;
    --cmm-rounded-xl: 0.75rem;
    --cmm-rounded-full: 9999px;
    --cmm-shadow-xs: 2px 2px 2px var(--cmm-shadow-color);
    --cmm-shadow-sm: 2px 2px 6px var(--cmm-shadow-color);
    --cmm-shadow-md: 2px 2px 10px var(--cmm-shadow-color);
    --cmm-shadow-lg: 2px 2px 14px var(--cmm-shadow-color);
    --cmm-shadow-xl: 2px 2px 18px var(--cmm-shadow-color);
    --cmm-shadow-color: rgba(12, 12, 13, 0.1);
    --cmm-transition-bg: background-color 0.3s;
    --cmm-Input-bg: var(--cmm-color-surface-2);
    --cmm-Input-border: var(--cmm-color-border-base);
    --cmm-Kbd-bg: var(--cmm-color-surface-2);
    --cmm-Kbd-border: var(--cmm-color-surface-3);
    --cmm-Kbd-font: var(--cmm-color-font-muted);
    --cmm-Menu-bg: var(--cmm-color-surface-1);
    --cmm-Menu-bg-hover: var(--cmm-color-surface-2);
    --cmm-Menu-font-label: var(--cmm-color-font-base);
    --cmm-Menu-font-icon: var(--cmm-color-font-subtle);
    --cmm-Menu-font-group: var(--cmm-color-font-subtle);
    --cmm-Tab-bg: var(--cmm-color-surface-0);
    --cmm-Tab-list-bg: var(--cmm-color-surface-0);
    --cmm-Tab-bg-active: var(--cmm-color-surface-0);
    --cmm-Tab-bg-hover: var(--cmm-color-neutral-soft-bg-hover);
    --cmm-Tab-border: var(--cmm-color-border-base);
    --cmm-Tab-border-active: var(--cmm-color-primary-emphasis);
    --cmm-Tab-border-hover: var(--cmm-color-primary-7);
    --cmm-Tab-font: var(--cmm-color-font-muted);
    --cmm-Tab-font-active: var(--cmm-color-primary-emphasis);
    --cmm-Tab-font-hover: var(--cmm-color-font-base);
    --cmm-Tooltip-bg: var(--cmm-color-neutral-6);
    --cmm-Tooltip-font: var(--cmm-color-font-base);
    --cmm-Switch-bg-off: var(--cmm-color-surface-2);
    --cmm-Switch-bg-on: var(--cmm-color-primary-6);
    --cmm-Switch-bg-thumb: var(--cmm-color-neutral-0);
    --cmm-Switch-font-off: var(--cmm-color-font-muted);
    --cmm-Switch-font-on: var(--cmm-color-font-base-invert);
    --cmm-Switch-border: var(--cmm-color-neutral-6);
    --cmm-Switch-border-thumb: var(--cmm-color-neutral-2);
    --cmm-text-input-bg: var(--cmm-color-black);
    --cmm-text-input-bg-hover: var(--cmm-color-black);
  }
}
/* Base */
@layer cmm.base {
  body {
    font-family: var(--cmm-font-family-base);
    -webkit-font-smoothing: antialiased;
    color: var(--cmm-color-font-base);
    background: var(--cmm-color-surface-0);
  }

  *:focus-visible {
    outline: var(--cmm-outline-width) solid var(--cmm-outline-color-primary);
  }

  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }
}
