@use "@/styles/variables";

:root {
  --logo-hue: 220;
  --logo-sat: 50%;
  --logo-primary: hsl(var(--logo-hue) var(--logo-sat) 40%);
  --logo-secondary: hsl(var(--logo-hue) var(--logo-sat) 40% / 0.6);
  --logo-text: var(--logo-primary);

  &[data-theme^="dark"] {
    --logo-sat: 50%;
    --logo-primary: hsl(var(--logo-hue) var(--logo-sat) 60%);
    --logo-secondary: hsl(var(--logo-hue) 60% 60% / 0.8);
  }
}

.scrollbar {
  --scrollbar-width: 16px;
  --scrollbar-thumb-color: var(--cmm-color-gray-3);
  --scrollbar-thumb-color-hover: var(--cmm-color-gray-4);

  scrollbar-color: var(--scrollbar-thumb-color) transparent;

  [data-theme^="dark"] & {
    --scrollbar-thumb-color: var(--cmm-color-gray-7);
    --scrollbar-thumb-color-hover: var(--cmm-color-gray-6);
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 999px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.hash-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 0.3em;
  border-radius: var(--cmm-radius-sm);
  opacity: 0;

  &:focus {
    opacity: 1;
  }

  svg {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    color: var(--cmm-color-neutral-5);
  }

  :where(h1, h2, h3, h4, h5, h6):hover & {
    opacity: 1;
  }
}

.remark-code-title {
  margin-top: 2rem;
  border-top-left-radius: var(--cmm-radius-xl);
  border-top-right-radius: var(--cmm-radius-xl);
  background-color: var(--cmm-color-surface-2);
  border: 1px solid var(--cmm-color-border-base);
  color: var(--cmm-color-font-muted);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--cmm-font-size-xs);
  font-family: var(--cmm-font-family-code);

  + .code-block pre {
    margin-top: 0;
  }

  + .code-block pre > code {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

code {
  font-family: var(--cmm-font-family-code);
}

.Message {
  border-radius: var(--cmm-radius-xl);
}

.DocSearch {
  &-Button {
    margin: 0 !important;
    margin-inline-end: 0.5rem !important;
    background: var(--cmm-color-surface-0) !important;
    border: 1px solid var(--cmm-color-border-base) !important;
    padding-left: 0.7rem !important;
    padding-right: 0 !important;
    height: 2rem !important;
    border-radius: var(--cmm-radius-lg) !important;
    min-width: 14rem !important;

    [data-theme="dark"] & {
      background: var(--cmm-color-surface-2) !important;
    }

    @include variables.mq(lg) {
      min-width: 10rem !important;
    }

    @include variables.mq(md) {
      display: none;
    }

    &-Placeholder {
      color: var(--cmm-color-font-subtle) !important;
      font-size: var(--cmm-font-size-sm);
    }

    &-Key {
      font-weight: var(--cmm-font-weight-semibold) !important;
      color: var(--cmm-color-font-subtle) !important;
      padding: 0.75em 0.75em !important;
      line-height: 1.5 !important;
      background: var(--cmm-Kbd-bg) !important;
      border-radius: var(--cmm-radius-sm) !important;
      border: 1px solid var(--cmm-Kbd-border) !important;
      box-shadow: none !important;
      top: 0 !important;
    }
  }

  &-Search-Icon {
    width: 0.8rem !important;
    margin-inline-end: 0.2rem;
    stroke-width: 2.8 !important;
    color: var(--cmm-color-font-subtle) !important;
  }
}

// .DocSearch {
//   &-Button {
//     align-items: center;
//     background: var(--cmm-color-surface-0);
//     border: 1px solid var(--cmm-color-border-base);
//     border-radius: var(--cmm-radius-lg);
//     color: var(--docsearch-muted-color);
//     cursor: pointer;
//     display: flex;
//     font-weight: 500;
//     height: 36px;
//     justify-content: space-between;
//     margin: 0 0 0 16px;
//     padding: 0 8px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     user-select: none;

//     &-Container {
//       align-items: center;
//       display: flex;
//     }

//     &-Placeholder {
//       font-size: 1rem;
//       padding: 0 12px 0 6px;
//     }

//     &-Keys {
//       display: flex;
//       gap: 0.5rem;
//       min-width: calc(40px + 0.8em);
//     }

//     &-Key {
//       font-family: var(--cmm-font-family-code);
//       align-items: center;
//       border-radius: 3px;
//       box-shadow: var(--docsearch-key-shadow);
//       background: var(--cmm-color-surface-3);
//       display: flex;
//       justify-content: center;
//       position: relative;
//       padding: 0 0 2px;
//       width: 1.5rem;
//       height: 1.25rem;
//     }
//   }

//   &-Search-Icon {
//     stroke-width: 1.6;
//   }
// }
