@use "../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .Block {
    @extend %sizeDefaults;

    &:has(input[type="checkbox"]:disabled) {
      cursor: not-allowed;
      color: var(--cmm-color-gray-400);

      label {
        cursor: not-allowed;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      width: locals.$size;
      height: locals.$size;
      border-radius: var(--cmm-rounded-sm);
      display: grid;
      place-content: center;
      cursor: pointer;
      background-color: var(--cmm-color-primary-100);

      &::before {
        content: "";
        width: calc(locals.$size * 0.5);
        height: calc(locals.$size * 0.5);
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        background-color: var(--cmm-color-primary-600);
      }

      &:checked {
        background-color: var(--cmm-color-primary-100);

        &::before {
          transform: scale(1);
        }
      }

      &:disabled {
        background-color: var(--cmm-color-gray-100);

        &:checked {
          &::before {
            background-color: var(--cmm-color-primary-300);
          }
        }
        cursor: not-allowed;
      }
    }

    label {
      user-select: none;
      cursor: pointer;
    }
  }

  %sizeDefaults {
    #{locals.$size_name}: 1.25rem;

    font-size: var(--cmm-font-size-sm);
  }

  .--sm {
    #{locals.$size_name}: 1rem;
    font-size: var(--cmm-font-size-sm);
  }

  .--md {
    @extend %sizeDefaults;
  }

  .--lg {
    #{locals.$size_name}: 1.5rem;
    font-size: var(--cmm-font-size-md);
  }
}
