@use "../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .target {
    position: relative;
    display: inline-block;
    width: fit-content;

    &:hover,
    &:focus-within {
      .content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    font-size: var(--cmm-font-size-xs);
    font-weight: var(--cmm-font-weight-normal);
    line-height: 1;
    background: var(--cmm-color-tooltip-bg);
    color: var(--cmm-color-tooltip-font);
    border: 1px solid var(--cmm-color-tooltip-border);
    border-radius: var(--cmm-rounded-md);
    transition: 0.2s ease-in;
    transition-delay: 0.15s;
    display: inline-block;
    padding: 0.5rem;

    &[data-placement="top"] {
      left: 50%;
      transform: translateX(-50%);
      top: calc(locals.$offset * -1);

      &:before {
        content: "";
        position: absolute;
        // `locals.$arrowSize * 2 * -1` works on Chrome but not Safari
        bottom: calc(locals.$arrowSize * 1.9 * -1);
        left: 50%;
        margin-left: calc(locals.$arrowSize * -1);
        border: locals.$arrowSize solid transparent;
        border-top: locals.$arrowSize solid var(--cmm-color-tooltip-bg);
      }
    }

    &[data-placement="bottom"] {
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(locals.$offset * -1);

      &:before {
        content: "";
        position: absolute;
        top: calc(locals.$arrowSize * 1.9 * -1);
        left: 50%;
        margin-left: calc(locals.$arrowSize * -1);
        border: locals.$arrowSize solid transparent;
        border-bottom: locals.$arrowSize solid var(--cmm-color-tooltip-bg);
      }
    }
  }
}
