@mixin visuallyHidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

@mixin layer {
  @layer cmm.components {
    @content;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@function opaque($color) {
  @return var(--cmm-color-surface-0) linear-gradient($color 0 100%);
}
