.default {
  --Menu-icon-color: var(--cmm-color-danger-6);
  --Menu-font-color: var(--cmm-color-danger-6);
  --Menu-bg-hover: var(--cmm-color-danger-0);
}

.with-headless-ui {
  --Menu-icon-color: var(--cmm-color-danger-6);
  --Menu-font-color: var(--cmm-color-danger-6);
  --Menu-bg-hover: var(--cmm-color-danger-0);
}
