.default {
  --cmm-Menu-icon-color: var(--cmm-color-danger-6);
  --cmm-Menu-font-color: var(--cmm-color-danger-6);
  --cmm-Menu-bg-hover: var(--cmm-color-danger-0);
}

.with-headless-ui {
  --cmm-Menu-icon-color: var(--cmm-color-danger-6);
  --cmm-Menu-font-color: var(--cmm-color-danger-6);
  --cmm-Menu-bg-hover: var(--cmm-color-danger-0);
}
