.container {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  place-items: start stretch;
}

%size {
  width: min(calc(100% - 1rem), 28rem);
  margin: 0 auto;
}

.form {
  @extend %size;

  display: grid;
  gap: 1.5rem;
}

.output {
  @extend %size;

  padding: 1rem;
  border-radius: var(--cmm-rounded-lg);
  background-color: var(--cmm-color-black);
  color: var(--cmm-color-white);
  font-size: var(--cmm-font-size-sm);
  display: grid;
  place-content: center start;
  white-space: pre-wrap;
}
