.size {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

.error {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}

.group {
  :global {
    --cmm-Input-start-decor-width: 2.5rem;
    --cmm-Input-end-decor-width: 3.5rem;
  }
}
