@use "../../styles/utils";
@use "../Radio/variables" as radioVars;
@use "./variables" as locals;

@include utils.layer {
  .Block {
    display: flex;
    flex-direction: column;
  }

  .items {
    @extend %directionDefaults;

    display: flex;
    gap: locals.$itemGap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  %directionDefaults {
    flex-direction: column;
  }

  .--horizontal .items {
    flex-direction: row;
  }

  .--vertical .items {
    @extend %directionDefaults;
  }
}
