@use "../../styles/inputs";
@use "../../styles/utils";

@include utils.layer {
  .Block {
    @include inputs.base();

    width: var(--cmm-Textarea-width);
    padding: 0.5rem;
    resize: none;

    &--fill {
      --cmm-Textarea-width: 100%;
    }
  }
}
