@use "../../styles/inputs";
@use "../../styles/utils";

@include utils.layer {
  .Block {
    @include inputs.base();

    width: var(--Textarea-width);
    padding: 0.5rem;
    resize: none;

    &::placeholder {
      font-weight: var(--cmm-font-weight-normal);
    }

    &--fill {
      --Textarea-width: 100%;
    }
  }
}
