@use "../../../styles/utils";
@use "./variables" as locals;

@include utils.layer {
  .Block {
    font-size: locals.$fontSize;
    color: locals.$color;
    line-height: locals.$lineHeight;
    margin: locals.$margin;
  }
}
