@use "../../styles/utils";
@use "./variables" as locals;

// Selecting both `-webkit` and `-moz` causes weird behavior.
// Following ways are not working:
// - &::-webkit-slider-thumb, &::-moz-range-thumb {...
// - %thumb-base
@mixin thumb-base {
  @include utils.size(locals.$thumbSize);

  border-radius: var(--cmm-rounded-full);
  background: locals.$thumbColor;
  border: 3px solid locals.$thumbBorderColor;
  appearance: none;
}

@include utils.layer {
  .Block {
    @extend %size-defaults;

    appearance: none;
    height: locals.$trackHeight;
    border-radius: locals.$trackRadius;
    background: locals.$trackColor;
    outline: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:focus-within {
      &::-webkit-slider-thumb {
        outline: var(--cmm-outline);
        outline-offset: var(--cmm-outline-offset);
      }
    }

    &::-webkit-slider-thumb {
      @include thumb-base;
    }

    &::-moz-range-thumb {
      @include thumb-base;
    }
  }

  %size-defaults {
    #{locals.$trackHeight_name}: 0.4rem;
    #{locals.$thumbSize_name}: 1rem;
  }

  .--sm {
    #{locals.$trackHeight_name}: 0.25rem;
    #{locals.$thumbSize_name}: 0.75rem;
  }

  .--md {
    @extend %size-defaults;
  }

  .--lg {
    #{locals.$trackHeight_name}: 0.6rem;
    #{locals.$thumbSize_name}: 1.25rem;
  }
}
