$thumbSize_name: --cmm-Slider-thumb-size;
$thumbSize: var($thumbSize_name);
$thumbBorderColor_name: --cmm-Slider-thumb-border-color;
$thumbBorderColor: var($thumbBorderColor_name, var(--cmm-color-primary-5));
$thumbColor_name: --cmm-Slider-thumb-color;
$thumbColor: var($thumbColor_name, var(--cmm-color-white));
$thumbRadius_name: --cmm-Slider-thumb-radius;
$thumbRadius: var($thumbRadius_name, var(--cmm-rounded-full));
$trackHeight_name: --cmm-Slider-track-height;
$trackHeight: var($trackHeight_name);
$trackRadius_name: --cmm-Slider-track-radius;
$trackRadius: var($trackRadius_name, var(--cmm-rounded-full));
$trackColor_name: --cmm-Slider-track-color;
$trackColor: var($trackColor_name, var(--cmm-color-primary-1));
