---
import Layout from "../layouts/Layout.astro";
import { Button } from "@camome/core/Button";
import { Switch } from "@camome/core/Switch";
---

<Layout title="Camome UI">
  <Button>Button</Button>
  <Switch />
</Layout>
